<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" 
           id="cordova-plugin-vitalreading"
      version="0.1.0">
    <name>Vital Reading</name>
    <description>Vitals Reading Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,vitals</keywords>
 
    
 
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="vitalreading" >
                <param name="android-package" value="org.medsolis.vitalreading.VitalReadingPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/VitalReadingPlugin.java" target-dir="src/org/medsolis/vitalreading" />

        <js-module src="VitalReadingPlugin.js" name="VitalReadingPlugin">
            <runs />
        </js-module>
    </platform>         
</plugin>