<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" 
           id="cordova-plugin-vitalreading"
      version="0.1.0">
    <name>Vital Reading</name>
    <description>Vitals Reading Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,vitals</keywords>
 
    
 
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="vitalreading" >
                <param name="android-package" value="org.medsolis.vitalreading.VitalReadingPlugin"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" /> 
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        </config-file>
        
        <source-file src="src/android/VitalReadingPlugin.java" target-dir="src/org/medsolis/vitalreading" />
        <js-module src="VitalReadingPlugin.js" name="VitalReadingPlugin">
             <clobbers target="cordova.plugins.vitalreading" />
             <clobbers target="plugin.vitalreading" />
        </js-module>
    </platform>         
</plugin>